@import '../../utility.scss';
@import '../../variables.scss';

.footer {
  @include flex-column-aligncenter-center;
  justify-content: center;
  gap: 40px;
  padding-top: 100px;
  &__copywrite {
    @include font-decoration($black, 12px, mic-32-new-web, 300, 2px);
  }
}
