@import '../../utility.scss';
@import '../../variables.scss';

.header {
  @include flex-row-aligncenter-spacebetween;
  margin: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background-color: $header-background;
  backdrop-filter: opacity(20%) blur(8px);
  -webkit-backdrop-filter: opacity(20%) blur(8px);
  width: 100vw;
  height: 80px;
  position: fixed;
  z-index: 10;
  @include mq('md') {
    padding: 40px;
    div[class='logo_logo__3KYf7'] {
      margin-top: 16px;
    }
  }
}
