@import 'styles/variables.scss';
@import 'styles/utility.scss';

.about_template {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;

  width: 100vw;

  &__title {
    margin-bottom: 100px;
  }
  &__content {
    @include flex-column-aligncenter-center;
    &_image {
      margin-bottom: 32px;
      border: 2px solid $black;
    }
  }
  @include mq('md') {
    &__title {
      img {
        width: 400px;
        height: 72px;
      }
    }
    &__content {
      @include flex-row-flex-start;
      gap: 8%;
      &_image {
        margin-top: 8px;
      }
    }
  }
  @include mq('lg') {
    &__title {
      img {
        width: 504px;
        height: 88px;
      }
    }
  }
}
