@import 'styles/variables.scss';
@import 'styles/utility.scss';

.works_template {
  width: 100vw;
  &__title {
    @include flex-column-aligncenter-center;
    margin-bottom: 16px;

    img {
      width: 100%;
      max-width: 320px;
      height: auto;
    }
  }
  &__menu {
    @include flex-column-aligncenter-center;
  }
  &__contents {
    width: 100%;
    overflow: hidden;

    &_hidden {
      width: 100%;
    }
  }
  div[class='wave_animation_wave_animation__3QcPn'] {
    svg:nth-child(2) {
      align-items: center;
      margin-left: 24px;
    }
  }
  @include mq('md') {
    &__title {
      img {
        width: 504px;
        height: auto;
      }
    }
    &__menu {
      margin-left: 400px;
    }
  }
  @include mq('lg') {
    margin-top: 80px;
    &__title {
      img {
        width: 504px;
        height: auto;
      }
    }
    &__menu {
      margin-left: 560px;
    }
  }
}
