@import 'styles/variables.scss';
@import 'styles/utility.scss';

.works_template {
  width: 100vw;
  &__title {
    @include flex-column-aligncenter-center;
    margin-bottom: 16px;
  }
  &__menu {
    @include flex-column-aligncenter-center;
  }
  div[class='wave_animation_wave_animation__3QcPn'] {
    svg:nth-child(2) {
      align-items: center;
      margin-left: 24px;
    }
  }
  @include mq('md') {
    &__title {
      img {
        width: 504px;
        height: 88px;
      }
    }
    &__menu {
      margin-left: 400px;
    }
  }
  @include mq('lg') {
    margin-top: 80px;
    &__title {
      img {
        width: 504px;
        height: 88px;
      }
    }
    &__menu {
      margin-left: 560px;
    }
  }
}
