@import 'styles/variables.scss';
@import 'styles/utility.scss';

.work_page {
  @include flex-column-aligncenter-center;
  width: 100vw;
  &__logo {
    position: absolute;
    right: 3%;
    top: 2%;
  }
  &__menu {
    position: absolute;
    left: 0%;
    top: 2%;
  }
  &__container {
    margin-top: 400px;
    &_title {
      position: absolute;
      right: 4%;
      top: 23%;
      width: 20ch;
      white-space: nowrap;
      overflow: hidden;
      border-right: 1px solid $black;
      animation: typing 1s steps(6), blink 0.5s steps(1) infinite alternate;
      h1 {
        @include font-decoration($black, 32px, mic-32-new-web, 400, 6px);
        text-align: right;
      }
    }
    &_list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-content: center;
      gap: 80px 24px;
      &_comming_soon {
        @include flex-column-aligncenter-center;
        justify-content: flex-start;
        margin-top: 50%;
        &_txt {
          @include flex-row-aligncenter;
          span {
            @include font-decoration($black, 24px, mic-32-new-web, 400, 6px);
            display: inline-block;
            margin: 4px;
            animation: comming-soon 1.5s infinite alternate;
          }
          span:nth-child(2) {
            animation-delay: 0.1s;
          }
          span:nth-child(3) {
            animation-delay: 0.2s;
          }
          span:nth-child(4) {
            animation-delay: 0.3s;
          }
          span:nth-child(5) {
            animation-delay: 0.4s;
          }
          span:nth-child(6) {
            animation-delay: 0.5s;
          }
          span:nth-child(7) {
            animation-delay: 0.6s;
          }
        }
        &_txt:first-child {
          margin-right: 24px;
        }
      }
    }
  }
  @include mq('md') {
    &__container {
      &_title {
        top: 18%;
      }
      &_list {
        width: 90vw;
      }
    }
  }
  @include mq('lg') {
    &__menu {
      margin-top: 80px;
    }
    &__container {
      &_title {
        h1 {
          font-size: 40px;
        }
      }
      &_list {
        width: 75vw;
        &_comming_soon {
          margin-top: 0;
        }
      }
    }
  }
  @include mq('xl') {
    &container {
      &_list {
        &_comming_soon {
          margin-top: 0;
        }
      }
    }
  }
  @keyframes typing {
    0% {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-right-color: transparent;
    }
  }
  @keyframes comming-soon {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(2px);
      opacity: 0.6;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
