@import 'styles/variables.scss';
@import 'styles/utility.scss';

.work_page {
  width: 100vw;
  &__logo {
    position: absolute;
    right: 3%;
    top: 2%;
  }
  &__menu {
    @include flex-row-aligncenter;
    margin: 16px 0 80px 0;
  }
  &__container {
    @include flex-column-aligncenter-center;
    &_title {
      position: absolute;
      right: 4%;
      top: 23%;
      width: 20ch;
      white-space: nowrap;
      overflow: hidden;
      border-right: 1px solid $black;
      animation: typing 1s steps(6), blink 0.5s steps(1) infinite alternate;
      h1 {
        @include font-decoration($black, 32px, mic-32-new-web, 400, 6px);
        text-align: right;
      }
    }
    &_list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 80px 24px;
    }
  }
  @include mq('md') {
    &__container {
      &_title {
        top: 18%;
      }
      &_list {
        width: 90vw;
      }
    }
  }
  @include mq('lg') {
    &__menu {
      margin-top: 80px;
    }
    &__container {
      &_title {
        h1 {
          font-size: 40px;
        }
      }
      &_list {
        width: 75vw;
      }
    }
  }
  @keyframes typing {
    0% {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-right-color: transparent;
    }
  }
}
