@import 'styles/variables.scss';
@import 'styles/utility.scss';

.about_skills {
  @include flex-column-aligncenter-center;
  h5 {
    margin-top: 32px;
  }
  &__category {
    @include flex-row-flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }

  @include mq('md') {
    @include flex-column-flex-start;
    &__category {
      @include flex-row-flex-start;
      justify-content: flex-start;
    }
  }
}
