@import 'styles/variables.scss';
@import 'styles/utility.scss';

.auto_slide {
  width: 100vw;
  height: 100vh;

  &__container {
    display: flex;
    margin-top: 40px;
    position: relative;
    &_title {
      @include font-decoration($black, 24px, mic-32-new-web, 400, 6px);
      cursor: pointer;
    }

    &_animation {
      width: 60%;
      height: 60%;
      margin-top: 40px;
      div[class='slick-slide'],
      div[class='slick-slider slick-initialized'],
      div[class='slick-slide slick-active'],
      div[class='slick-slide slick-cloned'],
      div[class='slick-slide slick-active slick-current'],
      div[class='slick-slide slick-active slick-cloned'] {
        margin: 0 8px;
        div {
          height: 120px;
          overflow: hidden;
          position: relative;
        }
      }

      div[class='slick-list'] {
        margin: 0 -8px;
      }
      &_image {
        div {
          max-width: 100%;
          max-height: 100%;
          width: 100%;
          height: 100%;
          &:last-child {
            border: 1px solid $black;
          }
          img {
            object-fit: cover;
          }
        }
      }
    }
  }

  &__right {
    @extend .auto_slide__container;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .auto_slide__container_title {
      position: absolute;
      left: 24%;
    }
  }
  &__left {
    @extend .auto_slide__container;
    .auto_slide__container_title {
      position: absolute;
      right: 24%;
    }
  }

  @include mq('md') {
    &__container {
      margin-top: 80px;
      &_title {
        font-size: 28px;
      }
      &_animation {
        margin-top: 56px;
        div[class='slick-slide'],
        div[class='slick-slider slick-initialized'],
        div[class='slick-slide slick-active'],
        div[class='slick-slide slick-cloned'],
        div[class='slick-slide slick-active slick-current'],
        div[class='slick-slide slick-active slick-cloned'] {
          div {
            height: 160px;
          }
        }
      }
    }
    &__right {
      .auto_slide__container_title {
        left: 28%;
      }
    }
    &__left {
      .auto_slide__container_title {
        right: 28%;
      }
    }
  }
  @include mq('lg') {
    &__container {
      margin-top: 160px;
      &_title {
        font-size: 36px;
      }
      &_animation {
        margin-top: 80px;
        div[class='slick-slide'],
        div[class='slick-slider slick-initialized'],
        div[class='slick-slide slick-active'],
        div[class='slick-slide slick-cloned'],
        div[class='slick-slide slick-active slick-current'],
        div[class='slick-slide slick-active slick-cloned'] {
          div {
            height: 280px;
          }
        }
      }
    }
    &__right {
      .auto_slide__container_title {
        left: 32%;
      }
    }
    &__left {
      .auto_slide__container_title {
        right: 32%;
      }
    }
  }
}
