@import 'styles/variables.scss';
@import 'styles/utility.scss';

.contact_form {
  @include flex-column-aligncenter-center;
  width: 100vw;
  img {
    margin-bottom: 100px;
    margin-right: 2%;
  }

  button {
    margin-top: 40px;
    cursor: pointer;
  }
  label {
    @include font-decoration($grey400, 12px, mic-32-new-web, 300, 2px);
  }
  &__after_sent {
    margin-top: 8px;
  }
  @include mq('md') {
    img {
      width: 400px;
      height: 72px;
    }
  }
  @include mq('lg') {
    img {
      width: 504px;
      height: 88px;
    }
  }
}
