@import 'styles/variables.scss';
@import 'styles/utility.scss';

.link_component {
  width: 100vw;
  height: 100vh;
  position: relative;
  &__menu {
    // width: 100vw;
    // height: 100vh;
    &_pc {
      display: none;
    }

    &_tb {
      &_list {
        display: none;
        &_active {
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          display: block;
          margin: 0 auto;
          background-color: $grey400;
          backdrop-filter: opacity(50%);
          backdrop-filter: blur(10px);
        }
      }
      &_bar {
        span {
          width: 32px;
          height: 3px;
          position: absolute;
          z-index: 10;
          right: 16px;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          background-color: $black;
        }
        span:nth-child(1) {
          top: 24px;
        }
        span:nth-child(2) {
          top: 36px;
        }
        span:nth-child(3) {
          top: 48px;
        }
        &_active {
          @extend .link_component__menu_tb_bar;
          span {
            background-color: $white;
          }
          span:nth-child(2) {
            opacity: 0;
          }
          span:nth-child(1) {
            -webkit-transform: translateY(12px) rotate(135deg);
            transform: translateY(12px) rotate(135deg);
          }
          span:nth-child(3) {
            -webkit-transform: translateY(-12px) rotate(-135deg);
            transform: translateY(-12px) rotate(-135deg);
          }
        }
      }
    }
    @include mq('md') {
      &_tb {
        &_bar {
          span {
            width: 40px;
            height: 4px;
            right: 32px;
          }
          span:nth-child(1) {
            top: 32px;
          }
          span:nth-child(2) {
            top: 48px;
          }
          span:nth-child(3) {
            top: 64px;
          }
          &_active {
            @extend .link_component__menu_tb_bar;
            span:nth-child(1) {
              -webkit-transform: translateY(16px) rotate(135deg);
              transform: translateY(16px) rotate(135deg);
            }
            span:nth-child(3) {
              -webkit-transform: translateY(-16px) rotate(-135deg);
              transform: translateY(-16px) rotate(-135deg);
            }
          }
        }
      }
    }
    @include mq('lg') {
      &_pc {
        @include flex-row-aligncenter;
        justify-content: flex-end;
        margin: 20px 32px 0 0;
        padding: 0;
        gap: 72px;
        list-style: none;
        li {
          @include font-decoration($black, 24px, mic-32-new-web, 400, 2px);
          cursor: pointer;
        }
      }

      &_tb {
        display: none;
      }
    }
  }
  &__sns {
    @include flex-row-aligncenter;
    width: 100vw;
    justify-content: center;
    gap: 48px;
    @include mq('lg') {
      gap: 64px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  &__works {
    @include font-decoration($black, 14px, mic-32-new-web, 400, 4px);
    ul {
      list-style: none;
      li {
        padding-left: calc(var(--indent) * 24px);
      }
    }
    li {
      width: fit-content;
      padding: 4px;
    }
    li:hover {
      color: $pale_red;
      cursor: pointer;
    }
    @include mq('md') {
      font-size: 16px;
      li {
        padding: 6px;
      }
    }
    @include mq('lg') {
      li {
        padding: 8px;
      }
    }
  }
}
