@import 'styles/variables.scss';
@import 'styles/utility.scss';

.works_card {
  &__content {
    width: 90%;
    padding: 0;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    div {
      width: 100%;
      cursor: pointer;
      transition: box-shadow 0.5s ease, transform 0.5s ease, z-index 0s 0s ease;
      border: 2px solid $black;
      box-shadow: 6px 6px;
      div {
        border: none;
      }
      img {
        object-fit: cover;
      }
      &:hover {
        z-index: 1;
        box-shadow: 6px 6px 20px rgba($grey600, 0.2);
        transform: scale(1.05);
        border: 1px solid $black;
        transition: box-shadow 0.5s ease, transform 0.5s ease, z-index 0s 0s ease;
      }
    }
    h1 {
      @include font-decoration($black, 16px, Open Sans, 600, 2px);
      line-height: 20px;
      margin: 16px 0 8px 0;
    }
    p,
    span {
      @include font-decoration($grey500, 10px, Noto Sans JP, 400, 2px);
      width: 100%;
      white-space: normal;
    }
  }
  @include mq('md') {
    &__content {
      width: 300px;
    }
  }
}
.modal {
  width: 100vw;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  background-color: $modal-background;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;

  &__container {
    width: 100%;
    position: relative;
    max-height: 100vh;
    overflow: scroll;
  }

  &__close {
    position: fixed;
    right: 3%;
    top: 6%;
    cursor: pointer;
    display: block;
    height: 40px;
    margin: 0;
    padding: 0;
    &_bar {
      &:first-child {
        content: '';
        width: 32px;
        height: 2px;
        background-color: $white;
        transform: translateY(50%) rotate(45deg);
      }
      &:last-child {
        content: '';
        width: 32px;
        height: 2px;
        background-color: $white;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }

  &__inner {
    display: block;
    margin: 0 auto;
    width: 90%;
    overflow: scroll;
    height: clamp(600px, 100%, 100%);
    div {
      width: 100%;
      height: 100%;
      cursor: pointer;
      img {
        object-fit: contain;
      }
    }
    h1 {
      @include font-decoration($white, 20px, Noto Sans JP, 500, 2px);
      margin-top: 16px;
    }
    p,
    span {
      @include font-decoration($white, 10px, Noto Sans JP, 500, 2px);
      width: 100%;
      white-space: wrap;
      margin: 8px 0;
    }
    a {
      text-decoration: none;
      font-size: 10px;
      color: $white;
      border-bottom: 1px solid $white;
    }
  }
  @include mq('md') {
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      div:not([class='works_card_modal__inner_contents__hT3mX']) {
        width: 100%;
        height: 400px;
      }
      &_contents {
        width: 50%;
      }
    }
  }
  @include mq('lg') {
    &__inner {
      width: 50%;
    }
  }
}
