.image_area {
  width: 100%;
  overflow: hidden;
  line-height: 0;

  &__img {
    display: block;
    width: 100% !important;
    height: auto !important;
    max-width: 100%;
  }

  &--fill {
    height: 100%;

    .image_area__img {
      height: 100% !important;
    }
  }
}
