.image_area {
  overflow: hidden;
  line-height: 0;

  &__img {
    display: block;
    max-width: 100%;
  }

  &--frame {
    position: relative;
    width: 100%;
    height: 100%;

    .image_area__img {
      width: 100% !important;
      height: 100% !important;
      max-width: none;
      object-fit: cover;
      object-position: center;
    }
  }

  &--contain.image_area--frame .image_area__img {
    object-fit: contain;
  }
}
