@mixin font-decoration($color, $size, $family, $weight, $space) {
  color: $color;
  font-size: $size;
  font-family: $family;
  font-weight: $weight;
  letter-spacing: $space;
}

@mixin flex-row-aligncenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-row-flex-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
@mixin flex-column-flex-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@mixin flex-row-aligncenter-spacebetween {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-column-aligncenter-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
